body {
  background-color: white;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  margin-top: 7px;
}

.header h1 {
  position: relative;
  color: black;
  font-size: 30px;
  padding-left: 8px;
}

.nav-bar {
  width: 100%;
  height: 10vh;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
  z-index: 1000;
}

.nav-bar-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  top: 16px;
  margin-top: 24px;
  margin-bottom: 60px;
  background-color: #fff;
  color:black;
  z-index: 1000;
}

.nav-bar-list li {
  display: inline;
  padding: 10px 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.workButtonDiv a {
  text-decoration: none;
}

.nav-bar-list li a {
  color: #344563;
  text-decoration: none;
}

.icon-link ul li {
  padding: 13px;
  font-size: 25px;
  color: #505f79;
}

.list-box ul li {
  font-size: 12px;
  height: 36px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
  letter-spacing: 0.03em;
}

.list-boxPop ul li {
  font-size: 12px;
  line-height: 16px;
  height: 36px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
  letter-spacing: 0.03em;
}

.list-language ul li {
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  font-size: 14px;
  color: #36b37e;
  letter-spacing: 0.03em;
  font-weight: 600;
  margin: 5px;
}

.nav-bar-list li:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
  text-decoration: none;
}

.nav-bar i {
  position: absolute;
  float: right;
  right: 13px;
  font-size: 25px;
  padding-top: 3px;
}

.headline {
  background-image: url('./Images/header-illsutration-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  margin-bottom: 30px;
}

.headline .section-heading {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 10px;
  padding-right: 10px;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.section-heading h1 {
  font-size: 40px;
  font-weight: bold;
  color: #172b4d;
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.section-heading h2 {
  font-size: 40px;
  font-weight: bold;
  color: #36b37f;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.workMainDiv span {
  display: flex;
  flex-direction: row-reverse;
  font-size: 24px;
  padding: 5px 10px;
  color: rgb(29, 28, 28);
}

.section-heading h1,
.section-heading h2 span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.section-heading h2 span:nth-child(1) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.section-heading h2 span:nth-child(2) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.section-heading h2 span:nth-child(3) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.section-heading h2 span:nth-child(4) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.headline-detail {
  margin-bottom: 40px;
  text-align: center;
}

.headline-detail p {
  padding-left: 10px;
  padding-right: 10px;
  color: #172b4d;
  font-size: 20px;
  padding-bottom: 1rem;
}

.icon-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: none;
}

.icon-link ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding-left: 0;
  flex-direction: row;
}

.fa-angellist,
.fa-twitter,
.fa-github,
.fa-linkedin,
.fa-medium {
  color: #172b4d;
}

.fa-angellist:hover,
.fa-twitter:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-medium:hover {
  color: #253f6e;
  transform: scale(1.1);
}

.headline .fa-chevron-circle-down {
  margin-top: 10px;
  padding-top: 10px;
  font-size: 30px;
  color: #172b4d;
}

.Work {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  padding: 10px;
  background-color: white;
}

.Work h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #172b4d;
  padding-left: 20px;
  padding-top: 14px;
  padding-right: 20px;
  margin-bottom: 1rem;
}

.Work hr {
  align-items: center;
  width: 18%;
  background: #36b37e;
  height: 5px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.grid-item {
  background-color: white;
  border: 1px solid white;
  list-style-type: none;
  padding: 1px;
  font-size: 30px;
  text-align: center;
}

.flex-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #cdd2e0;
  border-radius: 5%;
  margin-right: 6%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.flex-box:hover {
  transition: all 0.4s ease-out;
  transform: scale(1.06);
}

.flex-box .firstList {
  padding: 0;
  list-style: none;
}

.flex-box img {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  border: 1px solid #cdd2e0;
  padding: 1px;
}

.flex-box h1 {
  font-size: 24px;
  text-align: center;
}

.list-box {
  display: flex;
  justify-content: center;
  left: 1px;
  margin-right: 5px;
}

.list-box ul {
  padding: 20px;
  margin-left: 16px;
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.See-btn {
  list-style-type: none;
  padding: 1px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.see-project {
  margin-top: 5px;
  display: flex;
  padding: 10px 12px;
  align-self: center;
  background: #36b37f;
  border-radius: 6px;
  border: none;
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.see-Resume,
.contactBtn {
  margin-top: 30px;
  padding: 12px;
  align-self: center;
  background: #36b37f;
  border-radius: 6px;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  border: none;
  text-align: center;
}

.see-project:hover,
.see-Resume:hover,
.contactBtn:hover {
  font-weight: bold;
  background: #21df8f;
  border: 3px solid grey;
  transform: scale(1.1);
}

.see-project:active,
.see-Resume:active,
.contactBtn:active {
  font-weight: bold;
  background: #48e4a3;
  border: 3px solid rgb(224, 214, 214);
}

.see-project:visited,
.see-Resume:visited,
.contactBtn:visited {
  font-weight: bold;
  background: #03492c;
  border: 3px solid rgb(201, 189, 189);
}

/* Design New Popup */

.workMainDiv {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  height: auto;
  width: 70%;
  margin: 5vh 15%;
  border-radius: 10px;
}

.workImgDiv {
  display: flex;
  flex-direction: column;
  height: 54%;
  width: 96%;
  margin: 2%;
  padding: 0;
  border-radius: 5px;
}

.workImgDiv img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.workContentDiv {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.workHeadingDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workHeadingDiv h1 {
  font-size: 32px;
  font-weight: 600;
  padding-left: 10px;
  line-height: 44px;
  color: #172b4d;
  text-align: left;
}

.workHeadingDiv .workButtonDiv {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.workButtonDiv a:hover {
  text-decoration: none;
}

.workButtonDiv button {
  margin-right: 5px;
  display: flex;
  padding: 10px 12px;
  width: 150px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  height: 48px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.workButtonDiv button:hover {
  background: #21df8f;
  border: 1px solid grey;
  transform: scale(1.05);
}

.workButtonDiv i {
  padding-top: 8px;
  padding-left: 10px;
  font-size: 16px;
  color: white;
}

.workContentDiv p {
  justify-content: left;
  font-size: 19px;
  font-weight: normal;
  line-height: 24px;
  color: #344563;
  padding: 5px 10px;
}

.mobileButtonDiv ul {
  list-style-type: none;
}

/* mobilePopup for flexBox */
.mobilePopup {
  display: none;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
}

.list-boxPop {
  display: flex;
  justify-content: left;
  left: 0;
  margin-right: 5px;
}

.list-boxPop ul {
  padding: 10px 12px;
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMe h1, .aboutContact h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  margin-top: 20px;
  margin-bottom: 15px;
}

.aboutMe p {
  text-align: center;
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.languages {
  margin-bottom: 50px;
}

.languageList {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.languageDetail {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  margin: 5px;
  margin-bottom: 15px;
}

.languageDetail:hover {
  transition: all 0.4s ease-out;
  transform: scale(1.03);
}

.imgDiv {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  margin: 15px;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #344563;
  margin-bottom: 10px;
}

.languageDetail img {
  height: 80px;
  width: 80px;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 50px;
}

.list-language {
  margin-right: 20px;
}

.list-language ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.aboutContact {
  background: url(./Images/Frame.svg) no-repeat;
  background-position: bottom 260px right 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.aboutContact p {
  font-weight: bold;
  font-size: 40px;
  width: 327px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding: 5px;
  margin-bottom: 20px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contactForm input {
  width: 85%;
  margin: 12px 0;
  height: 48px;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 16px;
  font-size: 15px;
  line-height: 24px;
}

.contactForm small {
  color: red;
}

.contactForm textarea {
  width: 85%;
  height: 105px;
  border-radius: 4px;
  border: 1px solid #60c095;
  box-sizing: border-box;
  padding: 12px;
  font-size: 16px;
  margin: 12px 0;
  color: #091e42;
  line-height: 24px;
}

.contactForm input:focus,
.contactForm textarea:focus {
  border: 2px solid rgba(0, 0, 255, 0.65);
  outline: none;
}

.email-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 189px;
  text-align: center;
}

.email-link p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.aboutContact hr {
  align-items: center;
  width: 22%;
  background-color: black;
  color: #0000;
  height: 5px;
  border-radius: 8px;
  margin-bottom: 5px;
}

/* media quries */
@media (max-width: 768px) {
  .ham {
    position: fixed;
    z-index: 1000;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    border: none;
  }

  .ham .xIcon {
    display: none;
    color: #67798e;
  }

  .nav-bar-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding: 20px;
  }

  .showMenu {
    transform: translateY(0);
  }

  .nav-bar-list li {
    padding: 1rem 0;
  }

  .menuLink {
    display: inline;
    font-size: 26px;
    color: black;
    text-decoration: none;
  }

  .menuLink:hover {
    text-decoration: blueviolet;
  }

  .flex-box {
    flex-direction: column;
  }

  .aboutMe {
    background:
      url(./Images/illustration1.svg) top right no-repeat,
      url(./Images/illustration2.svg) bottom 25px left no-repeat;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .languageDetail {
    flex-direction: column;
  }

  .workMainDiv {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    height: auto;
    width: 80%;
    margin: 5vh 10%;
    border-radius: 10px;
  }

  .workImgDiv {
    display: flex;
    flex-direction: column;
    height: 44%;
    width: 96%;
    margin: 2%;
    padding: 0;
    border-radius: 5px;
  }

  .workContentDiv p {
    justify-content: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #344563;
    padding: 5px 10px;
  }

  .workHeadingDiv .workButtonDiv {
    display: none;
  }

  .mobileButtonDiv {
    display: block;
  }

  .mobileButtonDiv ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 5px 0;
    list-style-type: none;
  }

  .mobileButtonDiv ul li {
    margin-bottom: 3px;
  }

  .formResponsive p {
    font-weight: bold;
    font-size: x-large;
    line-height: 46px;
    text-align: center;
    justify-items: center;
  }
}

/* Media query for medium screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .header h1,
  .header .nav-bar i {
    display: none;
  }

  .ham {
    display: none;
  }

  .menu {
    display: none;
  }

  .mobileButtonDiv ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 5px 0;
  }

  .header .nav-bar {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    height: 8vh;
    align-items: center;
    position: fixed;
  }

  .header .nav-bar ul {
    display: block;
    background-color: #fff;
  }

  .mobileButtonDiv ul li {
    margin: 2px;
  }

  .header .nav-bar ul li {
    padding: 10px 10px;
    z-index: 1000;
  }

  .headline {
    background-image: url(./Images/Header-llustration-desktop@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    height: 110vh;
  }

  .headline .section-heading {
    padding-top: 120px;
    font-weight: 800;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 26px;
    line-height: 60px;
  }

  .headline .headline-detail {
    padding-left: 160px;
    padding-right: 160px;
    margin-bottom: 0;
    line-height: 32px;
    font-weight: 400;
    font-size: 20px;
  }

  .aboutMe p {
    text-align: center;
    padding: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #42526e;
    margin-left: 10%;
    margin-right: 10%;
  }

  .formResponsive p {
    width: 100%;
    line-height: 48px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .headline .headline-detail p {
    margin-bottom: 0;
    padding-bottom: 8px;
  }

  .headline .icon-link {
    padding-top: 6px;
    margin-top: 0;
    margin-bottom: 18px;
  }

  .headline .fa-chevron-circle-down {
    margin-bottom: 70px;
  }

  .Work h1 {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }

  .Work hr {
    display: none;
  }

  .grid-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px 10px;
  }

  .flex-box {
    display: inline-flex;
    margin-right: 2%;
    width: 47%;
  }

  .flex-box h1 {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .aboutMe {
    background:
      url(./Images/aboutFirst.svg) top right no-repeat,
      url(./Images/aboutSecond.svg) bottom 25px left no-repeat;
    background-size: 150px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .languageList {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-auto-rows: 400px;
    justify-content: center;
  }

  .third-skill {
    grid-column: 1 /-1;
    margin-left: 26%;
    margin-right: 26%;
    align-items: center;
  }

  .aboutContact {
    background:
      url(./Images/contactform-illustratoin-3-desktop.svg) bottom 70px
      right 0 no-repeat,
      url(./Images/illustration-1-contact-form-desktop.svg) bottom 50px left 0
      no-repeat,
      url(./Images/illustration-2-contact-form-desktop@2x.png) bottom 80px left
      200px no-repeat;
    background-size: 120px;
  }

  .formResponsive {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    margin-bottom: 150px;
  }

  .formResponsive .contactForm {
    width: 100%;
    justify-content: center;
  }

  .aboutContact .footerHr {
    display: none;
  }

  .aboutContact .icon-bg {
    border-top: solid 1px #dfe1e6;
    width: 100%;
    display: none;
  }

  .aboutContact .email-link {
    display: none;
  }

  .workHeadingDiv .workButtonDiv {
    display: none;
  }

  .mobileButtonDiv {
    display: block;
  }
}

/* For desktop */
@media (min-width: 1024px) {
  .header h1,
  .header .nav-bar i {
    display: none;
  }

  .ham {
    display: none;
  }

  .menu {
    display: none;
  }

  .header .nav-bar {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    height: 7vh;
    position: fixed;
    z-index: 1000;
  }

  .headline {
    background-image: url(./Images/Header-llustration-desktop@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    height: 110vh;
  }

  .headline .section-heading {
    padding-top: 160px;
    font-weight: 800;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 26px;
    line-height: 60px;
  }

  .headline .headline-detail {
    padding-left: 265px;
    padding-right: 265px;
    margin-bottom: 0;
    line-height: 32px;
    font-weight: 400;
    font-size: 20px;
  }

  .aboutMe p {
    text-align: center;
    padding: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #42526e;
    margin-left: 10%;
    margin-right: 10%;
  }

  .formResponsive p {
    width: 50%;
    line-height: 46px;
    padding-left: 135px;
    padding-right: 25px;
  }

  .headline .headline-detail p {
    margin-bottom: 0;
    padding-bottom: 8px;
  }

  .headline .icon-link {
    padding-top: 6px;
    margin-top: 0;
    margin-bottom: 18px;
    border: none;
  }

  .headline .fa-chevron-circle-down {
    margin-bottom: 70px;
  }

  .Work {
    margin-left: 70px;
  }

  .Work h1 {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }

  .Work hr {
    display: none;
  }

  .grid-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px 10px;
  }

  .flex-box {
    display: inline-flex;
    margin-right: 1%;
    width: 28.33%;
  }

  .flex-box h1 {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .aboutMe {
    background:
      url(./Images/aboutFirst.svg) top right no-repeat,
      url(./Images/aboutSecond.svg) bottom 25px left no-repeat;
    background-size: 170px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .languageList {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    justify-content: center;
  }

  .aboutContact {
    background:
      url(./Images/contactform-illustratoin-3-desktop.svg) bottom 80px
      right 0 no-repeat,
      url(./Images/illustration-1-contact-form-desktop.svg) bottom 60px left 0
      no-repeat,
      url(./Images/illustration-2-contact-form-desktop@2x.png) bottom 90px left
      200px no-repeat;
    background-size: 120px;
  }

  .formResponsive {
    display: flex;
    flex-direction: row;
    padding-top: 65px;
    margin-bottom: 100px;
  }

  .formResponsive .contactForm {
    width: 50%;
    padding-right: 135px;
  }

  .aboutContact .footerHr {
    display: none;
  }

  .aboutContact .icon-bg {
    border-top: solid 1px #dfe1e6;
    width: 100%;
  }

  .aboutContact .email-link {
    height: 6vh;
  }

  .mobileButtonDiv {
    display: none;
  }
}
